<!--  -->

<ng-template [ngIf]="hasData" [ngIfElse]="noMarketHistory">
    <market-history #historyChart [city]="market" [history]="history"
        (selectedBedroomsChange)="selectedBedroomsChanged($event)"></market-history>
</ng-template>

<ng-template #noMarketHistory>
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">
                        <h6 class="header-pretitle">
                            Market
                        </h6>
                        <h1 class="header-title">
                            {{name}}
                        </h1>
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
